<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mete'Auvergne | Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ pathRoot }}/home.html">Accueil <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Source de données
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ pathRoot }}/admin/model/add.html">Add</a>
          <a class="dropdown-item" href="{{ pathRoot }}/model/arome001.html">Update</a>
          <a class="dropdown-item" href="{{ pathRoot }}/model/arome001.html">Liste</a>
          <a class="dropdown-item" href="{{ pathRoot }}/model/arome001.html">Delete</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modèles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ pathRoot }}/admin/model/add.html">Add</a>
          <a class="dropdown-item" href="{{ pathRoot }}/model/arome001.html">Update</a>
          <a class="dropdown-item" href="{{ pathRoot }}/model/arome001.html">Liste</a>
          <a class="dropdown-item" href="{{ pathRoot }}/model/arome001.html">Delete</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Paramètres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Observations</a>
      </li>
    </ul>
  </div>
</nav>