{% extends 'SiteBundle/Views//Templates/Layout.twig' %}
{% block head %}
   <title>MeteoVergne | Arome 0.025 LD</title>
{% endblock %}
{% block content %}
   <div class="jumbotron headerModel">
      <h1 class="display-3">{{ infoModel.title }} {{ Source.htmlTitle }}</h1>
      <p class="lead">Run du model {{ infoModel.title }} de {{ Source.htmlTitle }} du {{ dateMaj }} - Run de {{ run }}h</p>
   </div>
   <div class="containerfluid containerAccueil">
      <div class="row">
         <div class="col-2 text-center" id="divEcheancesLeft">
            <h4>Paramètres</h4>
            <hr/>
             {% for param in listeParam %}
                 {% if param.active %}
                    <a href="{{ LinkBuilder.getLink('Arome025Ld', {parametre: param.slug}) }}" class="btn btn-secondary btn-block btn-sm b_ech"><small>{{ param.buttonTitle }}</small></a>
                 {% else %}
                    <a href="{{ LinkBuilder.getLink('Arome025Ld', {parametre: param.slug}) }}" class="btn btn-outline-secondary btn-sm disabled">{{ param.buttonTitle }}</a>
                 {% endif %}
             {% endfor %}
            <!--
            {% for button in echBar %}
            <button type="button"class="btn btn-secondary btn-block btn-sm b_ech" ech="{{ loop.index0 }}" id="{{ loop.index0 }}">{{ button.begin }}-{{ button.end }}h</button>
            {% endfor %} -->
         </div>
         <div class="col-9">
            <h1>{{ infoParametreMeteo.htmlTitle }}<small><span id="htmlEch"></span></small></h1>
            <hr/>
            <div id=""preloadImg"><a href="#" onclick="preloadImg();"><i class="fas fa-download"></i> Précharger</a> </div>
            <span id="baseUrl" url="{{ rootPng }}/{{ infoModel.codeTitle }}/LD/{{ infoParametreMeteo.codeTitle }}"></span>
            <div id="map">
               <img src="" alt="" id="imgMap">
            </div>
         </div>
         <div class="col-1 text-center" style="padding-top:350px; overflow: scroll">
            <input id="ex1" type="text" data-slider-min="0" data-slider-max="23" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
         </div>
      </div>
   </div>
   <div id ="preload"></div>
{% endblock %}
{% block css %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" type="text/css" media="all" />
{% endblock %}
{% block script %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
   <script type="text/javascript" src="{{ rootScript }}/echeLowRes.js"></script>
   <script>
      function preloadImg(){

          baseUrl = $('#baseUrl').attr('url');
          for (var i = 0; i < 23; i++) {
              img = baseUrl + "/" + i + ".png";
              $("#preload").html('<img  src="'+img+'" style="display:none"/>');
          }
      }

   </script>
{% endblock %}